@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Name</h2>
<h3>@ViewBag.ID</h3>

<address>
    只要选择的路是对的<br />
    就不怕路远<br />
    <abbr title="Phone">电话:</abbr>
    <a href="tel:17602338789">17602338789</a>
</address>

<address>
    <strong>邮箱:</strong><a href="mailto:yinyicao@foxmail.com">yinyicao@foxmail.com</a><br />
    <strong>博客:</strong><a href="http://www.cnblogs.com/hyyq/">http://www.cnblogs.com/hyyq/</a>
</address>