<div class="form-group">
    @*<div class="row" style="margin-top:20px;">
        <div class="col-md-1">
            <label for="password">原密码</label>
        </div>
        <div class="col-md-9">
            <input type="password" class="form-control" id="oldPass" placeholder="Password">
        </div>
    </div>*@
    <div class="row" style="margin-top:20px;">
        <div class="col-md-1">
            <label for="password">新密码</label>
        </div>
        <div class="col-md-9">
            <input type="password" class="form-control" id="newPass" placeholder="Password">
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-1">
            <label for="password">密码确认</label>
        </div>
        <div class="col-md-9">
            <input type="password" class="form-control" id="newPass2" placeholder="Password">
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-2 col-lg-offset-3">
            <button type="button" class="btn btn-primary" id="btn_modifyPass">提交</button>
        </div>
    </div>
    </div>
<script src="~/Scripts/modifyPass.js"></script>


